.main {
    background-color: rgb(32, 29, 29);
}

.main-title {
    font-size: 110px;
    color: #DDC2B9;
    padding-top: 190px;
    margin-left: 50px;
    font-weight: 400;
}

.sub-heading {
    font-size: 40px;
    color: white;
    padding-top: 30px;
    margin-left: 50px;
}

button {
    background-color: rgb(32, 29, 29);
    color: #DDC2B9;
    font-size: 18px;
    font-weight: bold;
    border-color: #DDC2B9;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 20px;
    text-transform: uppercase;
    margin-top: 80px;
    margin-left: 50px;
    margin-bottom: 200px;
}

button:hover {
    background-color: #DDC2B9;

    color: black;
}

@media only screen and (max-width: 1050px) {
    .main-title {
        font-size: 80px;
    }

    .sub-heading {
        font-size: 30px;
    }

}

@media only screen and (max-width: 777px) {
    .main-title {
        font-size: 60px;
    }

    .sub-heading {
        font-size: 20px;
    }

    .first-btn {
        margin-bottom: 100px;
    }


}