.about {
    background-color: rgb(41, 37, 37);
    display: flex;


}

.about-me {
    color: #DDC2B9;
    margin-left: 50px;
    font-size: 50px;
    margin-top: 100px;
    margin-bottom: 20px;
}

.about-info {
    color: white;
    margin-left: 50px;
    width: 400px;
    line-height: 30px;
}

.skills {
    display: flex;
    flex-direction: column;
    margin-left: 80px;
}

.skills-title {
    color: #DDC2B9;
    margin-right: 50px;
    font-size: 50px;
    margin-top: 100px;
    margin-bottom: 20px;
}

.front-back {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.devicon-bootstrap-plain,
.devicon-css3-plain,
.devicon-html5-plain,
.devicon-javascript-plain,
.devicon-react-original,
.devicon-typescript-plain,
.devicon-nodejs-plain,
.devicon-mongodb-plain,
.devicon-express-original,
.devicon-python-plain,
.devicon-mysql-plain,
.devicon-postgresql-plain,
.devicon-github-original,
.devicon-linkedin-plain,
.devicon-twitter-original {
    font-size: 50px;
    color: white;

}

.devicon-bootstrap-plain:hover,
.devicon-css3-plain:hover,
.devicon-html5-plain:hover,
.devicon-javascript-plain:hover,
.devicon-react-original:hover,
.devicon-typescript-plain:hover,
.devicon-nodejs-plain:hover,
.devicon-mongodb-plain:hover,
.devicon-express-original:hover,
.devicon-python-plain:hover,
.devicon-mysql-plain:hover,
.devicon-postgresql-plain:hover,
.devicon-github-original:hover,
.devicon-linkedin-plain:hover,
.devicon-twitter-original:hover {
    font-size: 50px;
    color: #DDC2B9;

}


.development {
    color: white;
    margin-bottom: 30px;
}

.social-icons {
    margin-left: 50px;
    margin-top: 30px;
    margin-bottom: 100px;
}

.social {
    margin-right: 35px;


}

.set1 {
    margin-bottom: 20px;
    display: flex;
    gap: 10px;
}

.htmltext {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
    font-size: 10px;
    font-weight: bold;


}

.skillicon .htmltext {
    visibility: hidden;

    background-color: #DDC2B9;
    color: black;
    text-align: center;
    border-radius: 6px;
    padding: 5px 10px;
    position: absolute;
    z-index: 1;
    border: none
}

.skillicon:hover .htmltext {
    visibility: visible;
}

.css {
    margin-right: 10px;
    margin-left: 14px;
}

@media only screen and (max-width: 1050px) {
    .about-me {
        font-size: 40px;
        width: 300px;

    }

    .about-info {
        font-size: 14px;
        width: 300px;
    }

    .info {
        width: 350px;
    }

    .skills-title {
        font-size: 40px;

    }

    .devicon-bootstrap-plain,
    .devicon-css3-plain,
    .devicon-html5-plain,
    .devicon-javascript-plain,
    .devicon-react-original,
    .devicon-typescript-plain,
    .devicon-nodejs-plain,
    .devicon-mongodb-plain,
    .devicon-express-original,
    .devicon-python-plain,
    .devicon-mysql-plain,
    .devicon-postgresql-plain,
    .devicon-github-original,
    .devicon-linkedin-plain,
    .devicon-twitter-original {
        font-size: 30px;
        color: white;

    }

    .devicon-bootstrap-plain:hover,
    .devicon-css3-plain:hover,
    .devicon-html5-plain:hover,
    .devicon-javascript-plain:hover,
    .devicon-react-original:hover,
    .devicon-typescript-plain:hover,
    .devicon-nodejs-plain:hover,
    .devicon-mongodb-plain:hover,
    .devicon-express-original:hover,
    .devicon-python-plain:hover,
    .devicon-mysql-plain:hover,
    .devicon-postgresql-plain:hover,
    .devicon-github-original:hover,
    .devicon-linkedin-plain:hover,
    .devicon-twitter-original:hover {
        font-size: 30px;
        color: #DDC2B9;

    }


}

@media only screen and (max-width: 777px) {
    .about {
        flex-direction: column;
    }

    .info {
        margin-left: 50px
    }

    .front-back {
        flex-direction: column;
    }

    .frontend {
        margin-bottom: 30px;
    }

    .backend {
        margin-bottom: 50px;

    }

    .skills {
        margin-left: 100px;
    }

    .skills-title {
        margin-top: 50px;
    }
}

@media only screen and (max-width: 500px) {
    .info {
        text-align: center;

    }

    .about-info {
        text-align: center;
        margin-left: 0;
        width: 280px;
    }

    .about-me {
        text-align: center;
        margin-left: 0;
        margin-top: 40px;
    }

    .skills {
        align-items: center;
        margin-left: 0;
    }

    .social-icons {
        margin-left: 0;
        margin-bottom: 50px;
        width: 250px;
    }

    .set1 {
        margin-left: 40px;
    }

    .devicon-typescript-plain {
        margin-left: 40px;
    }

    .devicon-react-original {
        margin-left: 14px;
    }

    .devicon-python-plain {
        margin-left: 40px;
    }
}